/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor/
.gitignore
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/app/*.key
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*.log
!/storage/logs/.gitignore
 